[submodule "quartus/roboy_fpga_code"]
	path = quartus/roboy_fpga_code
	url = https://github.com/Roboy/roboy_fpga_code
[submodule "kicad_db"]
	path = kicad_db
	url = https://github.com/Roboy/kicad_db
[submodule "Housings_SSOP.pretty"]
	path = Housings_SSOP.pretty
	url = https://github.com/KiCad/Housings_SSOP.pretty
[submodule "esp/esp-idf"]
	path = esp/esp-idf
	url = https://github.com/espressif/esp-idf
[submodule "esp/m3_control/src/Adafruit_NeoPixel"]
	path = esp/m3_control/src/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel
[submodule "m3/ESP8266_RTOS_SDK"]
	path = m3/ESP8266_RTOS_SDK
	url = https://github.com/espressif/ESP8266_RTOS_SDK
